<ion-header no-border>
  <div class="bg">
    <img src="assets/navbarbg.png">
    <ion-buttons class="menu-btn" slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="assets/medhoplogowhite.svg">
  </div>
  <ion-button (click)="goBack()" class="arrow-btn">
    <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <ion-card class="content">
    <img class="iphone-logo" src="assets/iphone.svg">
    <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">TELEPHONE
      CONSULTATION</h5>

    <p style="margin-top: 10px; text-align: center; font-size: 20px; font-weight: 300; color: #3e90c5;">Includes advice
      and guidance via telephone</p>
    <h5 style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #2ad7d3;">
      <b>Individual</b></h5>
    <h5 style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #2ad7d3;">
      Adult Cost: $59.99</h5>
    <h5 style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #2ad7d3;">
      Kids Cost: $9.99</h5>
    <h5 style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #2ad7d3;">
      Couple Cost: $79.99</h5>


    <h5 style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #2ad7d3;">
      <b>Family</b></h5>
    <h5 style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #2ad7d3;">
      Couple Cost: $79.99</h5>
    <h5 style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #2ad7d3;">
      Kids Cost: $9.99</h5>

    <ion-button class="buy" (click)="openPage()" expand="block">PAY INDIVIDUAL</ion-button>
    <ion-button class="buy-2" (click)="openPage2()" expand="block">PAY FAMILY</ion-button>
  </ion-card>
</ion-content>