<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-slides pager="true">
    <ion-slide class="first-slide">
      <ion-card class="card-container">
        <ion-img class="logo" src="assets/medhoplogo.svg"></ion-img>
        <ion-img class="family-intro" src="assets/familyintro.png"></ion-img>
        <h1 style="font-weight: 300; color: #3e90c5">FAMILY</h1>
        <p style="font-weight: 300; color: #3e90c5; padding-bottom: 120px;">Your family with qualify health and well
          being</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="second-slide">
      <ion-card class="card-container">
        <ion-img class="logo" src="assets/medhoplogo.svg"></ion-img>
        <ion-img class="family-intro" src="assets/introsingle.png"></ion-img>
        <h1 style="font-weight: 300; color: #3e90c5">INDIVIDUAL</h1>
        <p style="font-weight: 300; color: #3e90c5; padding-bottom: 120px;">Your family with qualify health and well
          being</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="second-slide">
      <ion-card class="card-container">
        <ion-img class="logo" src="assets/medhoplogo.svg"></ion-img>
        <ion-button class="login-btn" expand="full" (click)="openPage()" expand="block">LOGIN</ion-button>
        <ion-button class="signup-btn" expand="full" (click)="openPage2()" expand="block">SIGN UP</ion-button>
      </ion-card>
      <ion-img class="bg" src="assets/welcomeintro.png"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>