<ion-header no-border>
  <div class="bg">
    <img src="assets/navbarbg.png">
    <ion-buttons class="menu-btn" slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="assets/medhoplogowhite.svg">
  </div>
  <ion-button (click)="goBack()" class="arrow-btn">
    <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <ion-card style="margin: 0; padding: 0; box-shadow: none; margin-top: 10px;">
    <p style="margin-top: 10px; text-align: center; font-size: 20px; font-weight: 300; color: #3e90c5;">How did the
      wound happen and what happened?</p>
  </ion-card>

  <ion-card class="write">
    <ion-textarea class="note-area" placeholder="WRITE"></ion-textarea>
  </ion-card>
  <ion-card style="box-shadow: none;">
    <ion-button class="buy" (click)="openPage()" expand="block">NEXT</ion-button>
  </ion-card>
</ion-content>