<ion-header no-border>
  <div class="bg">
    <img src="assets/navbarbg.png">
    <ion-buttons class="menu-btn" slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="assets/medhoplogowhite.svg">
  </div>
  <ion-button class="arrow-btn">
    <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <!-- basic services start here -->
  <h5 style="color: grey; text-align: center; margin-top: 10px;">Basic Services</h5>
  <ion-card class="basic-services-card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="left-card">
            <img src="assets/iphone.svg">
            <ion-card-title
              style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">TELEPHONE
              CONSULTATION</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="right-card">
            <p style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #3e90c5;">Includes
              advice and guidance via telephone</p>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>Individual Cost:</b> $59.99</h5>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>Kids:</b> $9.99</h5>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>Couples
                Cost:</b><br>$79.99</h5>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="box-shadow: none;">
      <ion-button class="buy" (click)="openPage()" expand="block">BUY</ion-button>
    </ion-card>
  </ion-card>
  <!-- basic services ends here -->

  <!-- special services start here -->
  <h5 style="color: grey; text-align: center; margin-top: 15px;">Special Services</h5>
  <ion-card class="basic-services-card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="left-card">
            <img src="assets/prescriptionicon.png" width="156px" height="156px" style="object-fit: contain;">
            <ion-card-title
              style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              PRESCRIPTION</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="right-card">
            <p style="margin-top: 10px; text-align: center; font-size: 17px; font-weight: 300; color: #3e90c5;">Ideal
              for people who lost their medications or forgot them at home</p>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>Cost:</b><br>$49.99</h5>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="box-shadow: none;">
      <ion-button class="buy" (click)="openPage2()" expand="block">BUY</ion-button>
    </ion-card>
  </ion-card>

  <!-- suture service -->

  <ion-card class="basic-services-card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="left-card">
            <img src="assets/sutureicon.png" width="100px" height="100px" style="object-fit: contain;">
            <ion-card-title
              style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              SUTURE</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="right-card" style="margin-top: 0;">
            <p style="text-align: center; font-size: 17px; font-weight: 300; color: #3e90c5;">Uncomplicated injuries
              (without exposed bone or tendon wrapping)</p>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>Former Client Cost:</b><br>$100.00</h5>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>No Former Client Cost:</b><br>$275.00</h5>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="box-shadow: none;">
      <ion-button class="buy" (click)="openPage3()" expand="block">BUY</ion-button>
    </ion-card>
  </ion-card>

  <!-- hangover kit -->

  <ion-card class="basic-services-card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="left-card">
            <img src="assets/hangoverkiticon.png" width="100px" height="100px" style="object-fit: contain;">
            <ion-card-title
              style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              HANGOVER KIT</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="right-card" style="margin-top: 0;">
            <p style="text-align: center; font-size: 17px; font-weight: 300; color: #3e90c5;">It includes intravenous
              hydration, intravenous atiacids, medication for vomiting and / or diarrhea</p>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>Former Client Cost:</b><br>$350.00</h5>
            <h5 style="margin-top: 10px; text-align: center; font-size: 15px; font-weight: 300; color: #2ad7d3;">
              <b>No Former Client Cost:</b><br>$550.00</h5>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="box-shadow: none;">
      <ion-button class="buy" (click)="openPage4()" expand="block">BUY</ion-button>
    </ion-card>
  </ion-card>

  <!-- special services ends here -->

</ion-content>