<ion-content style="color: white;">
  <ion-card class="background-blue">
    <img src="assets/bglogin.png">
    <img class="logo" src="assets/medhoplogowhite.svg">
    <ion-button (click)="goBack()" class="arrow-btn">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>

    <ion-input class="email" placeholder="EMAIL">
      <ion-icon class="user" ios="ios-person" md="md-person"></ion-icon>
    </ion-input>

    <ion-input class="password" placeholder="PASSWORD">
      <ion-icon class="lock" ios="ios-lock" md="md-lock"></ion-icon>
    </ion-input>

    <ion-card style="box-shadow: none;">
      <ion-button expand="block" (click)="openPage()" class="login-btn">LOGIN</ion-button>
    </ion-card>
  </ion-card>
</ion-content>

<div class="bg">
  <img src="assets/login.png">
</div>