<ion-header>
    <div class="bg">
      <img src="assets/navbarbg.png">
      <ion-buttons class="menu-btn" slot="start">
        <ion-menu-button class="menu-icon"></ion-menu-button>
      </ion-buttons>
      <img class="logo" src="assets/medhoplogowhite.svg">
    </div>
  </ion-header>
  
  <ion-content>

    <ion-card style="border-radius: 0; box-shadow: none;">
      <ion-button class="consult-btn" href="/call-request" expand="full"><img class="doctor-img" src="assets/DOCTORicon.png"></ion-button>
      <ion-button class="hospital-btn" href="/call-request" expand="full"><img class="doctor-img" src="assets/findhospital.png"></ion-button>
    </ion-card>

  </ion-content>