<ion-content>
  <ion-card class="bg">
    <img src="assets/navbarbg.png">
    <img src="assets/medhoplogowhite.svg" class="logo">

    <h1 class="account-title">Account</h1>
    <ion-input class="name" placeholder="NAME"></ion-input>
    <ion-icon class="user" ios="ios-person" md="md-person"></ion-icon>

    <ion-input class="email" placeholder="EMAIL"></ion-input>
    <ion-icon class="envelope" ios="ios-mail" md="md-mail"></ion-icon>

    <ion-input class="password" placeholder="PASSWORD"></ion-input>
    <ion-icon class="lock" ios="ios-lock" md="md-lock"></ion-icon>

    <ion-input class="confirm-password" placeholder="CONFIRM PASSWORD"></ion-input>
    <ion-icon class="lock-2" ios="ios-lock" md="md-lock"></ion-icon>

    <ion-button class="next" href="/account" expand="block">NEXT</ion-button>
  </ion-card>
</ion-content>