<ion-content>
  <ion-card class="bg">
    <img src="assets/navbarbg.png">
    <img src="assets/medhoplogowhite.svg" class="logo">

    <ion-button (click)="goBack()" class="arrow-btn">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>

    <h1 class="account-title">Account</h1>
    <ion-input class="name" placeholder="NAME">
      <ion-icon class="user" ios="ios-person" md="md-person"></ion-icon>
    </ion-input>


    <ion-input class="email" placeholder="EMAIL">
      <ion-icon class="envelope" ios="ios-mail" md="md-mail"></ion-icon>
    </ion-input>


    <ion-input class="password" placeholder="PASSWORD">
      <ion-icon class="lock" ios="ios-lock" md="md-lock"></ion-icon>
    </ion-input>


    <ion-input class="confirm-password" placeholder="CONFIRM PASSWORD">
      <ion-icon class="lock-2" ios="ios-lock" md="md-lock"></ion-icon>
    </ion-input>


    <ion-button class="next" (click)="openPage()" expand="block">NEXT</ion-button>
  </ion-card>
</ion-content>