.bg {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.arrow-btn {
  position: absolute;
  top: 70px;
  left: 0;
  --background: transparent;
  --background-activated: transparent;
}

.logo {
  position: absolute;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100px;
}

.account-title {
  text-align: center;
  font-weight: 300;
  color: #3e90c5;
}

.birth {
  --padding-start: 20px;
  --background: transparent;
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid #1e91d0;
  border-radius: 25px;
}

.gender-dropdown {
  --padding-start: 10px;
  font-size: 15px;
  --background: transparent;
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid #1e91d0;
  border-radius: 25px;
}

.gender {
  color: black;
}

.next {
  width: 300px;
  --border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  --background: #1e91d0;
  --background-activated: grey;
}

.date-format {
  border: none;
  color: rgb(211, 211, 211);
  font-size: 15px;
  font-weight: 700;
}