<ion-content>
  <ion-card class="bg">
    <img src="assets/navbarbg.png">
    <img src="assets/medhoplogowhite.svg" class="logo">

    <h1 class="account-title">Account</h1>
    <ion-input class="birth" placeholder="DATE OF BIRTH"></ion-input>

    <ion-item class="gender-dropdown">
      <ion-select class="gender" placeholder="GENDER">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="next" href="/calendar" expand="block">NEXT</ion-button>
  </ion-card>
</ion-content>